//<Адаптив>===========================================================================================================================================
@media (max-width: 1200px) {
	.container {
		padding: 0 10px;
	}
}

@media (max-width: 1024px) {
	.prod-card__body {
    flex: 0 1 24.5%;
	}
}

@media (max-width: 768px) {
	.prod-card {
    flex-wrap: wrap; }
	.prod-card__body {
		flex: 0 1 49.5%;
		margin-bottom: 5px;
	}
}

@media (max-width: 515px) {
	.masterpiece p {
		text-align: justify;
	}
}

@media (max-width: 414px) {
	.prod-card__body {
    flex: 0 1 100%;
    margin-bottom: 5px;
	}
}

