//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@font-face { 
	font-family: "Lato";
	src: url("../fonts/Lato-Light.eot");
	src: local("☺"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"),
	url("../fonts/Lato-Light.svg") format("svg");
	font-weight: 300;
	font-style: normal;   
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.eot");
	src: local("☺"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"),
	url("../fonts/Lato-Regular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Medium.eot");
	src: local("☺"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("truetype"),
	url("../fonts/Lato-Medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Semibold.eot");
	src: local("☺"), url("../fonts/Lato-Semibold.woff") format("woff"),
	url("../fonts/Lato-Semibold.ttf") format("truetype"), url("../fonts/Lato-Semibold.svg") format("svg");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("fonts/Lato-Bold.eot");
	src: local("☺"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"),
	url("../fonts/Lato-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Heavy.eot");
	src: local("☺"), url("../fonts/Lato-Heavy.woff") format("woff"), url("../fonts/Lato-Heavy.ttf") format("truetype"),
	url("../fonts/Lato-Heavy.svg") format("svg");
	font-weight: 900;
	font-style: normal;
}
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;  
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #1a1818;
	font-size: 16px;
	line-height: 1.3;
	font-weight: 400;
	a {
		color: #1a1818;
	}
	&.lock {
		overflow: hidden;
	} 
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ЗАГОЛОВКИ>=================================================================================================================
// h1 {
// 	font-size: 35px;
// 	font-weight: 500;
// 	line-height: 38px;}
// h2 {
// 	font-size: 32px;
// 	font-weight: 500;
// 	line-height: 38px;}
// h3 {
// 	font-size: 28px;
// 	font-weight: 500;
// 	line-height: 38px;}
// h4 {
// 	font-size: 25px;
// 	font-weight: 500;
// 	line-height: 38px;}
//<ЗАГОЛОВКИ>=================================================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	// min-height: 200vh;
	// position: relative;
	&.loaded {
	}
}
.page {
	flex: 1 1 auto;  
	padding: 35px 0; 
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	// @media (max-width: $md1+px) {
	// 	// max-width: 970px;
	// 	padding: 0 10px;
	// }
	// @media (max-width: $md2+px) {
	// 	// max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	// max-width: none;
	// 	// padding: 0 10px;
	// }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>============================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
// @import "fancybox.min.scss";
// @import "home.scss";
// @import "pagging.scss";
//@import "icons.scss";
// @import "map.scss";
// @import "slider.scss";
// @import "collection.scss";
@import "popup.scss";
// @import "header.scss";
// @import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>=====================================================================================================================================
// ==============================================================================================================================================================
.prod-card {
	// .prod-card__body
	// margin: 0 -8.5px;
	justify-content: space-between;
	&__body {
		padding: 15px 20px 15px 22px;
		flex-direction: column;
		border: 0.4px solid #c7c9cb;
		flex: 0 1 20%;
	}
	// .prod-card__link
	&__link {
		display: flex;
    justify-content: center;
    align-items: center;
		flex: 0 0 175px;
		max-height: 195px;
		overflow: hidden;
		img {
			max-width: 100%;
			height: 100%;
		}
	}
	&__text {
		flex: 1 1 auto;
		margin-bottom: 15px;
		h4 {
			text-align: center;
			line-height: 18px;
			// .prod-card__manuf
		}
	}
	// .prod-card__price-item
	&__price-item {
		flex-direction: column;
		align-items: center;
	}
	// .prod-card__price
	&__price {
		font-size: 23px;
		font-weight: 600;
		margin-bottom: 10px;
	}
	&__btn {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 5px 15px;
		min-width: 125px;
		height: 33px;
		font-family: 'Lato';
		font-size: 16px;
		font-weight: 400;
		color: #fff;
		background: #ff000078;
		border-radius: 35px;
	}
}

.masterpiece {
	padding-top: 30px;
}

.thanks h1,
.masterpiece h1 {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 20px;
}

.masterpiece h2 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}

.masterpiece h3 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;
}

.masterpiece p {
	margin-bottom: 25px;
}

.masterpiece__img {
	max-width: 550px;
	width: 100%;
	max-height: 260px;
	overflow: hidden;
	margin-bottom: 25px;
}

.masterpiece__img img {
	max-width: 100%;
	width: 100%;
	object-fit: cover;
}

.masterpiece .prod-card {
	margin-bottom: 25px;
}

.masterpiece ol {
	padding-left: 35px;
	margin-bottom: 55px;
}

.masterpiece ol li {
	margin-bottom: 5px;
}

.masterpiece ol li:last-child {
	margin-bottom: 0
}

.masterpiece ul {
	padding-left: 35px;
	margin-bottom: 85px;
}

.masterpiece ul li {
	list-style: disc;
	margin-bottom: 5px;
}

.masterpiece ul li:last-child {
	margin-bottom: 0
}


.thanks p {
	font-size: 20px;
}

.thanks .prod-card {
	margin-top: 25px;
}
//====================================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================================================

//<Адаптив>===========================================================================================================================================
@import "media.scss";